@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --brandcolor: #2196f3;
  --basecolor: #212121;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.contact li {
  font-weight: 500;
  color: #757575;
  line-height: 1.7142;
  letter-spacing: 0.02em;
  margin-right: 50px;
  padding: 0px;
}

.surf {
  font-weight: 500;
  color: var(--basecolor);
}

a:link {
  text-decoration: none;
  color: currentcolor;
}

a:visited {
  color: currentColor;
  text-decoration: none;
  line-height: 1.7;
}

a:hover {
  color: var(--brandcolor);
  text-decoration: none;
}

footer .logo,
header .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: var(--brandcolor);
  margin: auto;
}

h1 {
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  width: 696px;
  display: block;
  margin: 0 auto;
  padding: 0px;
  padding-bottom: 30px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  margin: auto;
  padding-bottom: 55px;
  padding-top: 55px;
  line-height: 1.166em;
  text-align: center;
  letter-spacing: 0.03em;
}

.partner {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}

.services{
  display: flex;
  padding: 0px;
  padding-top: 95px;
  padding-left: 215px; 
  padding-right: 215px;
}
.services li{
  margin-right: 30px;
}

.services h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Roboto", sans-serif;
  text-transform:uppercase;
}

.buttonpro {
  background-color: #f5f4fa;
  color: var(--basecolor);
  font-size: 16px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin: 8px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  width: 128px;
}

.buttonpro:hover {
  background-color: var(--brandcolor);
  color: #ffffff;
}

.activebutton {
  background-color: var(--brandcolor);
  color: #ffffff;
}

.servicebutton {
  background-color: var(--brandcolor);
  color: #ffffff;
  padding: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
  margin: auto;
  width: 261 px;
  height: 50 px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: 2px , var(--brandcolor);

}

.servicebutton:hover {
  background-color: #f5f4fa;
  color: var(--basecolor);
}

address {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
  padding-left: 180px;
  padding-right: 215px;
  width: 1600px;
}

.products {
  font-weight: 700;
  font-size: 18px;
  color: var(--basecolor);
  line-height: 2;
}
.projects{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  padding:0px;
  padding-left: 215px;
  }

.projects li {
  cursor: pointer;
}

.margin1 {
  background-color: #2f303a;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 45px;
  filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.25))
  

}

.margin2 {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  width: 1600px;
}
.margin2 ul{
  display: flex;
  margin: auto;
  padding-left: 215px;
  padding-right: 215px;
}

.margin2 ul li{
  width: 270px;
  height: 368px;
  background-color: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
ul {
  list-style-type: none;
}

header .active {
  color: var(--brandcolor);
}

footer .mt {
  color: #afb1b8;
  line-height: 1.7;
  font-size: 14px;
  font-weight: 400;
}

.mt:hover {
  color: var(--brandcolor);
  text-decoration: none;
}

.text {
  line-height: 1.7;
  color: #757575;
;
}

.container{
  width: 1600px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

.headb {
  background: #ffffff;
  height: 80px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  width: 1600px;
}


.cont_nav {
  display: flex;
}
.surf{
  display: flex;
  margin: auto;
}
.surf a{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142em;
  letter-spacing: 0.02em;
  margin: auto;
  margin-right: 50px;
}

.contact{
  display: flex;
  margin: auto;
  padding: 0px;
}
.Cont_Img {
display: block;
margin: auto;
width: auto;
padding-top: 94px;
}

.Cont_Img ul{
display: flex;
padding-left: 215px;
padding-right: 215px;
}
.Cont_Img ul li{
  margin-right: 30.26px;
  padding-bottom:90px ;
}
footer .logo{
  padding-left: 215px;
  padding-right: 215px;
}

.button_ser{
  display: flex;
  align-items: center;
  padding-left: 495px;
  padding-right: 495px;
  padding-bottom: 50px;
  margin:auto;
}
.projects li{
  width: 370px;
  height: 404px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  border-bottom: 2px solid #b0adad;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.job {
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0px;
}

.projects .job{
  text-align:left;
  margin-left:24px;
  margin-bottom: 20px;
}
.projects .products{
  text-align: left;
  margin-left: 24px;
  margin-bottom: 4px;
}